<!-- Modal: Todo Editor -->
<!-- Variables passed from Todo on TodoList -->
<div>
    <ul>
        <li>
            <label><span>Title</span><input id="title_input" type="text" value="{{title}}" placeholder="Task Name" /></label>
        </li>
        <li>
            <label id="date_inputs" class="date"><span>Due Date</span>
                <input type="number" value="{{day}}" placeholder="Day" min="0" max="31" /><span>/</span><input type="number" value="{{month}}" placeholder="Month" min ="0" max="12" /><span>/</span><input type="number" value="{{year}}" min="0" placeholder="Year" max="12" />
            </label>
        </li>
        <li class="textbox">
            <label>
                <span>Description</span>
                <textarea rows="4" placeholder="Description">{{description}}</textarea>
            </label>
        </li>
        <li>
            <input id="save_todo" type="button" value="Save"><input id="save_and_complete_todo" type="button" value="Mark As Complete">
        </li>
    </ul>
</div>
